.ruut {
    background-color: rgba(0,255,0,0); /* roheline värv aga läbipaistev hetkel */
    cursor: pointer;
}

.ruut.valitud {
    background-color: rgba(0,255,0,0.5); /*roheline värv tuleb välja kui kujund on soovitatud */
}

.ruut.kinni {
    background-color: rgba(255,0,0,0.5); /* punane värv, sest ruudukujuline laud kinni */
    cursor: not-allowed; /* hiirekursor pole lubatud */
}

.ring {
    background-color: rgba(0,255,0,0);
    border-radius: 50%; /* muudab kujundi ringiks */
    cursor: pointer;
}

.ring.valitud {
    background-color: rgba(0,255,0,0.5);
}

.ring.kinni {
    background-color: rgba(255,0,0,0.5);
    cursor: not-allowed;
}


.dünaamiline {
    position: absolute;
}